body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dropdown1 {
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 100;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 10px 20px #000;
  padding-top: 10px;
}
.dropdown1 span {
  display: inline-block;
}
.block {
  display: block !important;
}
.user {
  width: 100%;
  height: 90px;
  margin-bottom: 5px;
}

.outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
}
.inner div {
  margin: 40px;
  /* text-align: center; */
}
.invisible {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.inner input {
  width: 400px;
  border-bottom: 3px solid #ddd;
  padding-left: 10px;
}
.inner button {
  margin: 0 auto;
}

/*!  for comments */
.myDiv {
  width: max-content !important;
  position: absolute;
  right: 2rem;
}
.personImg {
  float: left;
}
.personImg img {
  border-radius: 50%;
  width: 35px;
}
.personTask {
  float: right;
  padding-top: 5px;
  font-weight: bolder;
}

.calenderShow::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-color: transparent;
}
.calenderShow {
  position: relative;
}

.calenderShow::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calenderShow::-webkit-clear-button {
  position: absolute;
  top: 0;
  right: -5%;
}

table .dropdown0::before {
  right: auto;
  left: 10% !important;
}
/*! for enevolpe */
.fa-envelope-open::before {
  text-shadow: 0 0 15px #000;
}
