body * {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dropdown1 {
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 100;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 10px 20px #000;
  padding-top: 10px;
}
.dropdown1 span {
  display: inline-block;
}
.block {
  display: block !important;
}
.user {
  width: 100%;
  height: 90px;
  margin-bottom: 5px;
}

.outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
}
html {
  overflow-x: hidden;
}
.inner div {
  margin: 40px;
  /* text-align: center; */
}
.invisible {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.inner input {
  width: 400px;
  border-bottom: 3px solid #ddd;
  padding-left: 10px;
}
.inner button {
  margin: 0 auto;
}

.invisible * {
  display: none !important;
}
/*!  for comments */
.myDiv {
  width: max-content !important;
  position: absolute;
  right: 2rem;
}
.personImg {
  float: left;
}
.personImg img {
  border-radius: 50%;
  width: 35px;
}
.personTask {
  float: right;
  padding-top: 5px;
  font-weight: bolder;
}

.calenderShow::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-color: transparent;
}
.calenderShow {
  position: relative;
}

.calenderShow::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calenderShow::-webkit-clear-button {
  position: absolute;
  top: 0;
  right: -5%;
}

table .dropdown0::before {
  right: auto;
  left: 10% !important;
}
/*! for enevolpe */
.fa-envelope-open::before {
  text-shadow: 0 0 15px #000;
}

.accordion {
  background-color: #f5f6f8;
  color: #444;
  cursor: pointer;
  padding: 13px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
  outline: none !important;
  margin-top: 10px;
  border-radius: 10px;
}

.active,
.accordion:hover {
  background-color: #f5f6f8;
}

.activePanel {
  transition: max-height 0.2s ease-out;
  max-height: max-content !important;
  overflow: visible !important;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

section.emoji-mart {
  z-index: 1200;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
}

.head-nav li:not(:first-child):hover {
  background-color: #ddd;
}
.main-head:hover li.item-active,
.main-active li.item-active {
  background-color: #ddd;
}
.main-head:hover li.item-active a,
.main-active li.item-active a {
  color: #fff;
}
.head-nav li:not(:first-child):hover a {
  color: #fff;
}

.head-nav ul {
  margin-top: 1.85rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.head-nav li {
  position: relative;
  clear: both;
  width: 90%;
  padding: 0;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  padding-left: 20px;
  margin: 0 auto;
  border-radius: 5px;
}
.head-nav li a {
  display: -webkit-box;
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.head-nav a {
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  color: #999;
  text-decoration: none;
  -webkit-transition: color 400ms;
  transition: color 400ms;
  text-transform: capitalize;
  position: relative;
  display: block;
  z-index: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-indent: -20em;
  white-space: nowrap;
  -webkit-transition: text-indent 400ms ease-in-out;
  transition: text-indent 400ms ease-in-out;
}
.main-head {
  position: fixed;
  bottom: 0;
  width: 40px;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #999;
  background-color: #fff;
  -webkit-transition: width 400ms;
  transition: width 400ms;
}
.main-head:hover,
.main-active {
  width: 220px;
}
.main-head .trash-icon {
  display: none;
}
.main-head:hover .trash-icon {
  display: block;
}
.main-active .trash-icon {
  display: block !important;
}
.main-head:hover .head-nav li:nth-of-type(1) a,
.main-active .head-nav li:nth-of-type(1) a {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
  cursor: default !important;
}
.main-head:hover .head-nav li:nth-of-type(2) a,
.main-active .head-nav li:nth-of-type(2) a {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.main-head:hover .head-nav li:nth-of-type(3) a,
.main-active .head-nav li:nth-of-type(3) a {
  -webkit-transition-delay: 300ms;
  transition-delay: 300ms;
}
.main-head:hover .head-nav li:nth-of-type(4) a,
.main-active .head-nav li:nth-of-type(4) a {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}
.main-head:hover .head-nav li:nth-of-type(5) a,
.main-active .head-nav li:nth-of-type(5) a {
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
}
.main-head:hover .head-nav li:nth-of-type(6) a,
.main-active .head-nav li:nth-of-type(6) a {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.main-head:hover .head-nav li:nth-of-type(7) a,
.main-active .head-nav li:nth-of-type(7) a {
  -webkit-transition-delay: 700ms;
  transition-delay: 700ms;
}
.main-head:hover .head-nav li:nth-of-type(8) a,
.main-active .head-nav li:nth-of-type(8) a {
  -webkit-transition-delay: 800ms;
  transition-delay: 800ms;
}
.main-head:hover .head-nav a,
.main-active .head-nav a {
  text-indent: 0;
}
.icon_wrapper {
  border: 1px solid #999;
  display: inline-block;
  width: 30px;
  position: absolute;
  height: 30px;
  border-radius: 30rem;
  left: 40px;
  transform: translateX(-50%) rotate(180deg);
  background-color: #fff;
  transition: all 0.3s;
  z-index: 10;
}
.icon_wrapper:hover {
  width: 60px;
  background-color: #000;
}
.icon_wrapper:hover i {
  transform: translate(-150%, -50%);
  color: #fff;
}
.icon_wrapper i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
.resize-icon {
  left: 215px;
  transform: translateX(-50%) rotate(0deg) !important;
}

.fa-plus-circle::before {
  color: #2998ff;
}
.trash-icon {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(10%, -50%);
}
.extra-icons {
  margin-right: 10px;
}
.jodit_statusbar,
.emoji-mart-search,
.emoji-mart-bar,
.jodit_toolbar_btn.jodit_toolbar_btn-source,
.jodit_toolbar_btn.jodit_toolbar_btn-ul,
.jodit_toolbar_btn.jodit_toolbar_btn-ol,
.jodit_toolbar_btn.jodit_toolbar_btn-eraser,
.jodit_toolbar_btn.jodit_toolbar_btn-separator,
.jodit_toolbar_btn.jodit_with_dropdownlist:not(.jodit_toolbar_btn-paragraph),
.jodit_toolbar_btn.jodit_toolbar_btn-brush,
.jodit_toolbar_btn.jodit_toolbar_btn-table,
.jodit_toolbar_btn.jodit_toolbar_btn-image,
.jodit_toolbar_btn.jodit_toolbar_btn-undo,
.jodit_disabled,
.jodit_toolbar_btn.jodit_toolbar_btn-copyformat,
.jodit_toolbar_btn.jodit_toolbar_btn-hr,
.jodit_toolbar_btn.jodit_toolbar_btn-fullsize,
.jodit_toolbar_btn.jodit_toolbar_btn-superscript,
.jodit_toolbar_btn.jodit_toolbar_btn-superscript,
.jodit_toolbar_btn.jodit_toolbar_btn-subscript,
.jodit_toolbar_btn.jodit_toolbar_btn-outdent.jodit_disabled,
.jodit_toolbar_btn.jodit_toolbar_btn-indent,
.jodit_toolbar_btn.jodit_toolbar_btn-file,
.jodit_toolbar_btn.jodit_toolbar_btn-video,
.jodit_toolbar_btn.jodit_toolbar_btn-break,
.jodit_toolbar_btn.jodit_toolbar_btn-selectall,
.jodit_toolbar_btn.jodit_toolbar_btn-cut.jodit_disabled,
.jodit_toolbar_btn.jodit_toolbar_btn-copy.jodit_disabled,
.jodit_toolbar_btn.jodit_toolbar_btn-paste,
.jodit_toolbar_btn.jodit_toolbar_btn-print,
.jodit_toolbar_btn.jodit_toolbar_btn-about {
  display: none !important;
}
.jodit_workplace {
  min-height: 40px !important;
  text-align: justify !important;
}
.jodit_wysiwyg {
  min-height: 38px !important;
}
.jodit_container.jodit_default_theme.jodit_wysiwyg_mode {
  min-height: 70px !important;
}
.jodit_workplace p {
  text-align: justify !important;
}
.jodit_wysiwyg h1{
  font-size: 36px;
  font-weight: bold;
}
.jodit_wysiwyg h2{
  font-size: 28px;
  font-weight: bold;
}
.jodit_wysiwyg h3{
  font-size: 22px;
  font-weight: bold;
}
.jodit_wysiwyg h4{
  font-size: 18px;
  font-weight: bold;
}

.jodit_toolbar_btn svg{
  width: 10px !important;
}

.jodit_wysiwyg a{
 color:blue !important;
 text-decoration: underline !important;
}

.login-button{
  display: none;
  position: absolute;
  top:90%;
  width:90%;
  margin: 0 auto;
  color:#999;
  padding: 20px;
}
.main-head:hover .login-button,.main-active .login-button{
  display: block;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loader_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
.main-head .loader_wrapper{
  display: none;
  opacity: 0;
}
.main-active .loader_wrapper,.main-head:hover .loader_wrapper{
  display: flex;
  opacity: 1;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}